<head>
	<link rel="stylesheet" href="styles.css?r=32">
</head>



	
<div class="login-box">
	<form action="/login" method="post">
		<label>Please enter your user ID:</label>
		<p><input class="form" type="text" name="userID" placeholder="UserID"></p>

		<label>Please enter your password:</label>
		<p><input class="form" type="password" name="password" placeholder="password"></p>

		<input type="submit">
	</form>

	<a href="/fullreport">Cancel</a>
</div>

<div class="login-tab">
	<h2>Login</h2>
</div>

