@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Welcome to our things</h3>
<ul>
	<li><a href="/thing/1">First thing</a></li>
	<li><a href="/thing/2">Second thing</a></li>
	<li><a href="/thing/3">Third thing</a></li>
</ul>

<a href="/"> << Home</a>