@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Amazing New @ViewData["title"] only at asp.netApp</h2>
<p>Perfectly crafted @ViewData["title"] comes with the patented and proven @ViewData["title"] cleaner! Order now and get
	two @ViewData["title"]'s for the price of 1.80!</p>
<a href="/thing"> << Back </a>