@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Welcome to my minimalist site. I see you're in need of help, well let me help with links</p>
<p>To go <a href="/home">Home</a>. To browse our <a href="/thing">Things</a>.</p>